body {
    background-color: azure;
}

h1 {
    color: #000000;
    text-align: center;
}

p {
    font-size: 14px;
    font-family: verdana;
}

ul {
    list-style-type: none;
    margin-top: -10px;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

li {
    float: left;
    border: 1px solid #000000;
}

li a {
    margin-top: 10px;
    position: relative;
    float: left;
    display: block;
    padding: 10px;
    background-color: rgb(255, 158, 89);
    color: #000000;
}

li a:hover {
    color: #ffffff;
}

.header {
    display: block;
    padding: 10px;
    width: 100%;
    background-color: rgb(255, 158, 89);
}

table {
    border: 1px solid black;
    align: right;
}

#taulukko {
    background-color: red;
}

 .main {
     position: relative;
    float: auto;
    display: block;
    min-width: 300px;
    min-height: 600px;
    background-color: crimson;
}

 .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     overflow: visible;
     background-color: rgb(255, 158, 89);
     text-align: center;
 }