*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #181818;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    font-size: 3em;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    border-bottom: 2px solid #ffffff;
}

#navigaatio{
    text-align: center;
}

.nav-item{
    display: inline;
}

.nav-link{
    display:inline-block;
}

#napit{
    text-align: center;
}


#huomautus{
    text-align: center;
    width: 60%;
    margin-top: 15px;
    margin-left: 20%;
    margin-bottom: 15px;
    box-shadow:  10px 10px 5px -5px rgba(176,42,64,1);
}


#leveaDiv{
    background-color: #ffffff;
    color: #000000;
    margin-left: 2.5%;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 10px 10px 5px -5px rgba(66,98,107,1);
}


#kapeaDiv{
    background-color: #ffffff;
    color: #000000;
    margin-left: 15%;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 10px 10px 5px -5px rgba(66,98,107,1);
}

.footer{
    text-align: center;
}