.header{
    /*background-image: url("https://www.pngix.com/pngfile/middle/157-1573210_free-png-download-palm-tree-leaf-clipart-png.png");*/
    background-color: #24301f;
    color: #ffffff;
    text-align: center;
    margin: 10px 10px 0 10px;
    padding: 8px;
    height: 110px;
    border-right: 3px solid #000000;
    border-left: 3px solid #000000;
    border-top: 1px solid #000000;
    border-radius: 12px 12px 0 0;
    background-image: linear-gradient(to bottom, #053714, #1f6120, #448e26, #71bc24, #a8eb12);
}


.header h1{
    font-size: 3em;
}